<mat-toolbar class="header-toolbar">
    <div class="top-row">
      <img src="assets/logo.png" alt="Logo" class="header-logo" />
      <span class="toolbar-title">We Rock On</span>
    </div>
  
    <div class="nav-links">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="" class="nav-link">Our Process</a>
      <a href="https://thesacredstones.com/" class="nav-link">Our Store</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </div>
  </mat-toolbar>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  
  
